@import 'tailwindcss';

body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

input {
  background-color: #ffffff;
  border: 1.5px solid #212121;
  border-radius: 3px;
}

textarea {
  background-color: #ffffff;
  border: 1.5px solid #000000;
  border-radius: 3px;
}

img {
  text-align: center;
  overflow: hidden;
  white-space: pre-wrap;
}

input[type='text']:focus,
textarea:focus {
  border-color: #8f9779;
  outline: none;
}

input[type='number']:focus,
textarea:focus {
  border-color: #8f9779;

  outline: none;
}

.defaultFlex {
  display: flex;
  justify-content: center;
}

.archiveMainPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
}

.variantGigPoster {
  height: 75vh;
}

.variantContainerColumn {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;
}

.buttonFooter {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.buttonColumn {
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.variantContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-left: 2%;
  margin-right: 2%;
}

.loginButton {
  font-size: 11pt;
}

.AlertDialogOverlay {
  background-color: rgba(0, 0, 0, 0.44);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1000;
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  outline: none;
  z-index: 1000;
}

.ManagePostersContent {
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 2000;
}

.PhoneToolsContent {
  transform: translate(-50%, -50%);
}

.PopupOverlay {
  background-color: rgba(0, 0, 0, 0.44);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1000;
}

.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: var(--mauve-12);
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 2px;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.TooltipContent {
  background-color: #f6f4e5;
  border: 1px solid #8f9779b0;
  border-radius: 4px;
  padding: 4px;
  outline: none;
}

.DropdownMenuItem {
  background-color: #f6f4e5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  cursor: pointer;
}
.Button.violet {
  background-color: var(--violet-9);
  color: white;
}
.Button.mauve {
  background-color: var(--mauve-4);
  color: var(--mauve-11);
}
.Button.red {
  background-color: var(--red-9);
  color: white;
}
.Button:hover {
  filter: brightness(0.9);
}

.SearchInput {
  border: 0px;
}
.SearchButton {
  padding: 0;
}

.clamped-text {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.responsiveTitleText {
  font-size: clamp(1rem, 6rem, 8rem);
  line-height: 0.9;
}

#maxHeight {
  height: 100%;
}

.commentInput {
  border: 0px;
  background-color: #fff0;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.ToastViewport {
  --viewport-padding: 25px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

.ToastRoot {
  background-color: white;
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 15px;
  display: grid;
  grid-template-areas: 'title action' 'description action';
  grid-template-columns: auto max-content;
  column-gap: 15px;
  align-items: center;
}
.ToastRoot[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastTitle {
  grid-area: title;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--slate-12);
  font-size: 15px;
}

.ToastDescription {
  grid-area: description;
  margin: 0;
  color: var(--slate-11);
  font-size: 13px;
  line-height: 1.3;
}

.ToastAction {
  grid-area: action;
}
