/* Tailwind Directives */
@import 'tailwindcss';

body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

button {
  font-size: larger;
  background-color: transparent;
  border: none;
}

input {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 3px;
}

textarea {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 3px;
}

.defaultFlex {
  display: flex;
  justify-content: center;
}

.archiveMainPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
}

.variantGigPoster {
  height: 75vh;
}

.variantContainerColumn {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;
}

.buttonFooter {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.buttonColumn {
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.variantContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-left: 2%;
  margin-right: 2%;
}

.loginButton {
  font-size: 11pt;
}

.AlertDialogOverlay {
  background-color: rgba(0, 0, 0, 0.44);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  outline: none;
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: var(--mauve-12);
  font-size: 17px;
  font-weight: 500;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  cursor: pointer;
}
.Button.violet {
  background-color: var(--violet-9);
  color: white;
}
.Button.mauve {
  background-color: var(--mauve-4);
  color: var(--mauve-11);
}
.Button.red {
  background-color: var(--red-9);
  color: white;
}
.Button:hover {
  filter: brightness(0.9);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

:root {
  --color-primary-100: #dad7c2;
  --color-primary-200: #c1bd9a;
  --color-primary-300: #8f9779;
  --color-primary-400: #78866b;
  --color-primary-700: #646f58;
  --color-primary-800: #4d5d53;

  --color-swamp-cream-100: #faf8f1;
  --color-swamp-cream-200: #f2e8d9;

  --color-swamp-pastel-100: #d8cfc7;
  --color-swamp-pastel-200: #e1bebe;
  --color-swamp-pastel-300: #bdb5b9;
}
