services:
  web-app:
    build: .
    # Explicitly set production mode and port
    environment:
      - NODE_ENV=production
      - PORT=3000
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/server/db
    restart: always

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
